:root {
  --coral: #ff6b6b;
  --coral-hover: #e55656;
  --blue-accent: #aad3df;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  display: block;
}

h2 {
  text-align: center;
}

li p {
  display: inline;
}

form {
  border: 1px solid var(--coral);
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  width: 80%;
}

form label,
form input,
form select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 1.5rem;
}

#container {
  display: flex;
  margin: 20px;
  gap: 2rem;
  justify-content: center;
}

#map {
  min-height: 500px;
  flex: 2;
}

#books {
  flex: 1;
}

.btn {
  border-radius: 5px;
  height: 2rem;
  background-color: var(--coral);
  font-weight: 600;
  margin-block: 10px;
  color: white;
  border: none;
}

.delete-btn {
  margin-left: 20px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
}

.delete-icon {
  background-color: var(--coral);
  border-radius: 50%;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--coral-hover);
}
.delete-icon:hover {
  cursor: pointer;
  background-color: var(--coral-hover);
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #container {
    flex-direction: column;
  }
}
